@import "tailwindcss";

:root {
  --color-background: linear-gradient(
    180deg,
    #7a0c0c 0%,
    #5a0808 40%,
    #2b0202 100%
  );
  --color-background-solid: #2b0202;
  --color-background-down: linear-gradient(
    180deg,
    #2b0202 0%,
    #5a0808 40%,
    #7a0c0c 100%
  );
  --color-foreground: #ffffff;
  --color-accent: #c62828;
  --color-card: #f5f2e9;
  --color-text-muted: #e0e0e0;

  --font-heading: var(--font-montserrat);
  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* background: var(--color-background); */
  color: var(--color-foreground);
  font-family: var(--font-inter), sans-serif;
  /* min-height: 100vh; */
  /* position: fixed; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}
